@attribute [Authorize]
@attribute [Route($"/{nameof(ProductCategoryList)}")]

@using StockPlusPlus.Shared.DTOs.Product.ProductCategory

<ShiftList EntitySet="ProductCategory"
           Title="Product Category List"
           T="ProductCategoryListDTO"
           Dense
           ComponentType="typeof(ProductCategoryForm)"
           ShowIDColumn="true"
           TypeAuthAction="StockPlusPlus.Shared.ActionTrees.StockActionTrees.ProductCategory"
           EnableExport>
    <PropertyColumn Property="x => x.Name" Title="Name" />

    <TemplateColumn Title="Tracking Method">
        <CellTemplate>
            <span>@context.Item!.TrackingMethod!.Describe()</span>
        </CellTemplate>
    </TemplateColumn>
</ShiftList>
