################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShiftSoftware.Templates/obj
/ShiftSoftware.Templates/bin
/.vs
